@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
body{
    background-image: linear-gradient(to right, #2e7db8, #8847ad);
    font-family: 'Bree Serif', serif;

}
.main-component{
    width: 20%;
    height: 400px;
    margin-left: 40%;
    margin-top: 10%;
    background-color: white;
    border-radius: 12px;
}
.second-component{
    width: 100%;
    height: 100%;
    margin-left: 25%;
    margin-right: 25%;
    display: block;

}
.header{
    padding-top: 55px;
    margin-left: 15%;
    font-family: 'Bree Serif', serif;
}
.line{
    color: gray;
    height: 1px;
    width: 80%;
    margin-left: -15%;
}
.submit{
    margin-top: 15%;
    width: 80%;
    margin-left: -15%;
    background-color: #2691d9;
    border: none;
    font-size: 1rem;
    border-radius: 20px;
    color: white;
    height: 8%;
    font-family: 'Bree Serif', serif;
}

.inp1{
    margin-top: 10%;
    height: 10%;
    width: 65%;
    margin-left: -7%;
    border: 2px solid black;
}
.inp1::placeholder{
    font-family: 'Bree Serif', serif;
    color: black;
    font-size: 1rem;
}

.inp2{
    margin-top: 10%;
    height: 10%;
    width: 65%;
    margin-left: -7%;
    border: 2px solid black;
}

.inp2::placeholder{
    font-family: 'Bree Serif', serif;
    color: black;
    font-size: 1rem;
}

